<table>
  <tbody>
    <tr>
      <td colspan="100">
        <div class="teamheader">
          <div id="tab_div_team">
            <span><%= link_to "Team", team_path(@team) %></span>
          </div>
          <div id="tab_div_games">
            <span><%= link_to "Games", team_games_path(@team) %></span>
          </div>
          <div class="teamname">
            <p><%= @team.team_name %></p>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td id="data_area">
        <table>
          <tbody>
            <tr>
              <td class="viewtitle">Contact Name:</td>
              <td class="viewdata"><%= @team.contact_name %></td>
            </tr>
            <tr>
              <td class="viewtitle">Phone:</td>
              <td class="viewdata"><%= @team.contact_phone %></td>
            </tr>
            <tr>
              <td class="viewtitle">Address:</td>
              <td class="viewdata"><%= @team.address1 %><br><%= @team.address2 %><br><%= @team.city %>, <%= @team.state %> <%= @team.zipcode %></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<%= render 'admin_links' %>
