<ul>
  <li><%= @team.team_name %></li>
  <li><%= @team.contact_name %></li>
  <li><%= @team.contact_phone %></li>
  <li><%= @team.address1 %></li>
  <li><%= @team.address2 %></li>
  <li><%= @team.city %></li>
  <li><%= @team.state %></li>
  <li><%= @team.zipcode %></li>
</ul>
