  <div id="maincontent">
    <label>Name</label>
    <%= text_field_tag :name %><br>

    <label>Phone</label>
    <%= text_field_tag :phone %><br>

    <label>Address 1</label>
    <%= text_field_tag :address1 %><br>

    <label>Address 2</label>
    <%= text_field_tag :address2 %><br>

    <label>City</label>
    <%= text_field_tag :city %><br>

    <label>State</label>
    <%= text_field_tag :state %><br>

    <label>Zipcode</label>
    <%= text_field_tag :zipcode %><br>

    <label>Email</label>
    <%= text_field_tag :email %><br>

    <label>Password</label>
    <%= password_field_tag :password %><br>

    <label>Are you an admin?</label>
    <%= check_box_tag :admin %><br>

    <%= submit_tag "Create" %>
  </div>
