<table class="tableview">
  <tbody>
    <tr>
      <td class="tableheader">Date</td>
      <td class="tableheader">Time</td>
      <td class="tableheader">Home Team</td>
      <td class="tableheader">Away Team</td>
      <td class="tableheader">Appointment</td>
    </tr>
    <%= render 'tr_for_games' %>
  </tbody>
</table><br><br>
<% if admin %>
  <% if params[:team_id] %>
    <%= link_to "New Game", new_team_game_path %>
  <% elsif params[:user_id] %>
    <%= link_to "New Game", new_user_game_path %>
  <% else %>
      <%= link_to "New Game", new_game_path %>
  <% end %>
  <%= link_to "Unassigned Games", unassigned_games_path %>
<% end %>
