<table>
  <tbody>
    <tr>
      <td id="data_area">
        <table>
          <tbody>
            <tr>
              <td class="viewtitle">Game:</td>
              <td class="gamedata"><%= link_to "#{game_date @game}", game_path(@game) %> <%= game_time @game %> - <%= game_end @game %></td>
            </tr>
            <tr>
              <td class="viewtitle">Game:</td>
              <td class="gamedata"><%= link_to "#{@home_team.team_name}", team_path(@home_team) %> vs. <%= link_to "#{@away_team.team_name}", team_path(@away_team) %> </td>
            </tr>
            <% if @game.user %>
              <tr>
                <td class="viewtitle">Official:</td>
                <td class="gamedata"><%= link_to "#{@game.user.name}", user_path(@game.user) %></td>
              </tr>
            <% else %>
              <tr>
                <td class="viewtitle">Official:</td>
                <td class="gamedata"> ? </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<% if admin %>
  <%= link_to "Edit Game", edit_game_path(@game) %>
  <%= link_to "Delete Game", game_path(@game), method: :delete %>
<% end %>
