<table>
  <tbody>
    <tr>
      <td id="data_area">
        <table>
          <tbody>
            <tr>
              <td class="viewtitle">Game:</td>
              <td class="gamedata"><%= link_to "#{game_date @game}", game_path(@game) %> <%= game_time @game %> - <%= game_end @game %></td>
            </tr>
            <tr>
              <td class="viewtitle">Game:</td>
              <td class="gamedata"><%= link_to "#{@home_team.team_name}", team_path(@home_team) %> vs. <%= link_to "#{@away_team.team_name}", team_path(@away_team) %> </td>
            </tr>
            <%= render 'show_user' %>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<%= render 'admin_links_for_show' %>
