<table class="tableview">
  <tbody>
    <tr>
      <td class="tableheader">Date</td>
      <td class="tableheader">Time</td>
      <td class="tableheader">Home Team</td>
      <td class="tableheader">Away Team</td>
      <td class="tableheader">Appointment</td>
    </tr>
    <% @games.each do |game| %>
      <tr>
        <td class="listview"><%= link_to "#{game_date game}", game_path(game), class: 'show_link'%></td>
        <td class="listview"><%= game_time game %></td>
        <td class="listview"><%= link_to "#{game.home_team.team_name}", team_path(game.home_team) %><br>(venue: <%= game.home_team.address1%>)</td>
        <td class="listview"><%= link_to "#{game.away_team.team_name}", team_path(game.away_team) %></td>
        <td class="listview"><%= link_to " ? ", edit_game_path(game) %></td>
      </tr>
      <% end %>
  </tbody>
</table>
