<!DOCTYPE html>
<html>
  <head>
    <title>InCenter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container" class="container">
      <div id="banner">
      </div>

      <div id="userName" class="username noprint">
        <p></p>
      </div>

      <!-- menu -->
      <div id="menudiv" class="menudiv">
        <ul>
          <li>home</li>
          <li>Referees</li>
          <li>games</li>
          <li>teams</li>
          <li>logout</li>
        </ul>
      </div>

      <!-- content -->
      <div id="maincontent" class="contentarea">
        <%= yield %>
      </div>
    </div> <!-- end container -->
  </body>
</html>
