<!DOCTYPE html>
<html>
  <head>
    <title>InCenter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container" class="container">
      <div id="banner">
        <%= image_tag("logo") %>
      </div>
      <div id="userName" class="username noprint">
        <% if current_user %>
          <p><%= link_to "#{current_user.name}", user_path(current_user) %></p>
        <% end %>
      </div>
      <!-- menu -->
      <div id="menudiv" class="menudiv">
        <ul class="nav navbar-nav">
          <% if current_user %>
            <li><%= link_to "Home", user_path(current_user) %></li>
            <li><%= link_to "Referees", users_path %></li>
            <li><%= link_to "Games", games_path %></li>
            <li><%= link_to "Teams", teams_path %></li>
            <li><%= link_to "Logout", logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Login", login_path %></li>
            <li><%= link_to "Sign Up", new_user_path %></li>
          <% end %>
        </ul> <!-- end navbar-nav -->
      </div> <!-- end menudiv -->
      <!-- content -->
      <div id="maincontent" class="contentarea">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      </div> <!-- end contentarea-->
    </div> <!-- end container-->
  </body>
</html>
